<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인페이지</title>
</head>
<body>

                <div class="card_bottom">
                    <textarea class="form-control" placeholder="" id="login_id" rows="1">아이디 입력</textarea>
                    <button class="comment_upload_button" onclick="login_id_check()">게시</button>
                </div>
                <div class="card_bottom">
                    <textarea class="form-control" placeholder="" id="uploading_comment3" rows="1">댓글 달기</textarea>
                    <button class="comment_upload_button" onclick="save_comment3()">게시</button>
                </div>
                <div class="card_bottom">
                    <textarea class="form-control" placeholder="" id="uploading_comment3" rows="1">댓글 달기</textarea>
                    <button class="comment_upload_button" onclick="save_comment3()">게시</button>
                </div>


</body>
</html>